/* 기초 설정 */
*{ margin: 0px; padding: 0px;}
html, body{height: 100%; width: 1600px; margin: 0 auto;}
div.main{height: 100vh;}

/* 사이트 상단 */
header{
  width: 100%;
  height: 10%;
  background-color: orchid;
}

/* 왼쪽 네비게이션 */
nav{
  width: 10%;
  height: 85%;
  background-color: lightblue;

  float: left;
}

/* 왼쪽 네비게이션 ul 메뉴 설정 */
nav > ul{
  list-style-type: none;
  width: 100%;
  height: 95%;
  overflow: auto;
}
nav > ul > li > button {
  width: 100%;
  height: 100px;
  background-color: antiquewhite;
  border: 1px solid red;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  overflow: hidden;
}
nav > ul > li > button:hover {
  cursor: pointer;
  background-color: #ccc;
}

/* 중앙 오른쪽 메인 강좌 설명창 */
section{
  width: 90%;
  height: 85%;
  overflow: auto;
  float: left;
  background-color: lightgreen;
}
section div#MainPage{
  width: 50%;
  height: 100%;
  background-color: beige;
  float: left;
  overflow: auto;
  text-align: center;
}
/* 스크롤바 기능은 유지 / 스크롤바 삭제 */
section div#MainPage::-webkit-scrollbar{
  display: none;
}

section div#MainPage2{
  width: 50%;
  height: 100%;
  background-color: blueviolet;
  float: left;
  overflow: auto;
}
section > div{
  overflow: hidden;
  height: 100%;
}

/* 메인 클래스(A, B) 제목 */
section h1.classTitle{
  padding: 20px;
}

/* 각 반에 들어있는 강좌들 */
section div#MainPage ul{
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
}
section .classBox{
  background-color: lightgray;
  border: 1px solid red;
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
}

/* 반 정보창 테이블 */
table.tableBox{
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
}
table.tableBox td:nth-child(1){
  width: 20%;
}
table.tableBox td:nth-child(2){
  width: 40%;
}
table.tableBox td:nth-child(3){
  width: 40%;
}


/* 각 강의 클릭 hover test*/
div.textBt:hover{
  background-color: #999;
  cursor: pointer;
}

/* 하단 팀설명창 */
footer{
  clear: both;

  width: 100%;
  height: 5%;
  background-color: lightcoral;
}

